@media screen and (min-width: 768px) {
	#banner {
		background-size: 50% !important;
	}

	.col-left {
		padding-right: 15px;
	}

	.col-right {
		padding-left: 15px;
	}
}

@media screen and (max-width: 767px) {
	.super-hero {
		display: none;
	}

	section {
		padding-top: 50px!important;
		padding-bottom: 50px!important;
	}

	.whitepaper-btn {
		display: block;
		width: 100% !important;
		text-align: center;
	}

	.whitepaper-btn h4 {
		position: initial !important;
		margin-top: 20px;
	}

	.whitepaper-btn .change-btn-res {
		position: initial;
		display: block;
	}

	/* SEEN ON */
	.partner .col-2 {
		width: 50% !important;
	}

	section.seenon_section div.team-tile .member-head img,
	section.seenon_section div.team-tile,
	section.howitwork_section .row .col-4 {
		width: 100%;
	}
}

@media screen and (min-width: 1200px) {
	section.whitepaper_section:before {
		top: -110px;
	}
}

@media screen and (max-width: 1199px) {
	.howitwork_section .row .col-4 {
		width: 50%;
	}
}

@media screen and (max-width: 991px) {
	.language,
	.whitepaper_section:before {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	#videos {
		padding-top: 100px!important;
	}
}

@media screen and (max-width: 980px) {
	#videos h4 {
		text-align: center;
	}
}

@media screen and (max-width: 1023px) {
	.div_whitepepar {
		display: none;
	}

	.change-btn-res {
		display: block;
	}

	section.seenon_section .team-tile {
		width: 50%;
	}
}

@media screen and (min-width: 1024px) {
	a.change-btn-res {
		display: none;
	}

}
