@media screen and (max-width: 767px) {
  .subribe-section {
    .btn-submit-subcribe .btn-general {
      margin-top: 10px;
      width: 100%;
    }
  }

  section.seenon_section div.team-tile{
    min-width: 100%;
  }

  .howitwork_section {
    header.pt-60 {
      margin-top: 0 !important;
    }
  }

  .content-countdown .qodef-countdown .countdown-row .countdown-section {
    width: 200px !important;
    margin-bottom: 10px !important;
    text-align: center;
    display: block !important;
    margin: auto;
  }
}
