@media screen and (max-width: 991px) {
  .navPanel-visible #titleBar .toggle:before {
    content: '\f00d';
  }

  section.whitepaper_section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .smart-contract .container {
    width: 100%;
  }

  .roadmap > li {
    width: 100%;
    float: left;
  }

  .roadmap > li > .roadmap-badge {
    left: 95%;
    top: -35px;
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }

  .roadmap > li > .roadmap-badge span {
    width: 42px;
    height: 42px;
    background-size: cover;
    font-size: 16px;
    line-height: 42px;
    font-weight: normal;
  }

  .roadmap > li > .roadmap-panel:after,
  .roadmap > li > .roadmap-panel:before {
    display: none;
  }

  .roadmap > li > .roadmap-panel, .roadmap > li.roadmap-inverted > .roadmap-panel {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
  }

  .testimonials {
    .team-tile {
      min-width: 50%;
    }
  }

  .testimonials.pt-120,
  .howitwork_section header.pt-60 {
      padding-top: 0 !important;
  }

  .smart-contract,
  .road-map {
    &.pt-120 {
      padding-top: 50px !important;
    }
  }
}