.btn-general {
  padding: 8px 12px;
}

// JOB DESCRIPTION

.job-content {
  .job-name {
    line-height: 1.2;
  }

  .job-position {
    margin: 7px 0;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 700;
    color: $black;
  }
}
